<div [formGroup]="form" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
   <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" 
                                    [formControlName]="question.key"
                                    [id]="question.key" 
                                    [type]="question.controlType"
                                    [class] = "question.class">

    <select *ngSwitchCase="'dropdown'"  
                                    [formControlName]="question.key" 
                                    [id]="question.key" >
                                         <option *ngFor="let opt of question.options" 
                                            [value]="opt.key">
                                            {{opt.value}}
                                         </option>
     </select>

     <div *ngSwitchCase="'radio'"  >
      <label *ngFor="let opt of question.options">
        {{opt.key}}
                   <input
                        [type]="question.controlType"
                        [name]="question.key"
                        [formControlName]="question.key"
                        [value]="opt.value">
      </label>
    </div>
  <div  *ngSwitchCase="'checkbox'"> 
                              <input 
                                    [formControlName]="question.key"
                                    [id]="question.key" 
                                    [type]="question.controlType"
                                    [class] = "question.class"
                                    [value] = "question.value"> 

  </div>
  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->